
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');/*Fuente Cursiva*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap'); /*Fuente Titulos*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');/*Fuente Textos*/
/*EDE4E0*/
html, body{
    padding: 0;
    margin: 0 4em 0 4em;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-color: white;
   
    min-height: 100vh;
   
}

.encabezado {
    display: flex;
    flex-direction: column;
    margin: 2em 0em 2em 0em;
    align-items: center;
}

.navegacion{
    display: flex;
}

.menu{
    display: flex;
    align-items: center;
    text-align: center;
}

.menu a{

    font-family: 'Cormorant', serif;
    margin: 0em 2em 0 2em;
    padding: 1.2em;
    color: #000000;
    text-decoration: none;

    background-color:white;
    border: none;
    font-size: 1.2rem;
    width: 10em;

    box-shadow: 0 0.2rem #000000;
    cursor: pointer;

}

.menu a:hover:not(:disabled) {

    background: #b4b4b4;
    color: #000000;
    text-shadow: 0 0.1rem #bcb4b4;

}
.titulo{
    margin-left: 4em;
    color: #000000;
    text-align: center;

}
.titulo h1{
    margin: 0;
    font-family: 'Cormorant', serif;
    font-size: 7em;
}

.titulo h2{
    color: #c798e6;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 4.5em;

}


.Logo{

    width: 4em;
}

.flex-container-home{

    margin: 10em 0em 6em 0em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.presentacion{
    margin-right: 5em;
    margin-left: 1.5em;

}

.titulo{

    margin-right: 1.5em;

}

.presentacion img{

    width: 35em;
    border-radius: 2em;

}
p{
    font-size: 1.3em;
    font-family: 'Karla', sans-serif;
}


/* Fin CSS INDEx */


/* Comienzo CSS Lista Productos */


/* Estilo para el título de la lista de productos */
.tituloproducto {

    text-align: center;
    margin-top: 2em;
    margin-bottom: 30px;
    font-family: 'Cormorant', serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
}


/* Estilo para la sección de la lista de productos */
.lista-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 2em;
}

/* Estilo para cada carta de producto */
.carta {

    width: 190px;
    height: 250px;
    margin: 20px;

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
    text-align: center;

    border-radius: 1em;

}

.carta:hover {
  box-shadow: 0 4px 8px #de84ff4d;
}

/* Estilo para la imagen de cada producto */
.carta img {

    width: 80%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 10px;

}

/* Estilo para el nombre y precio de cada producto */
.carta h3 {

    font-size: 18px;
    font-weight: bold;
    color: #333;

}

.carta h3 span {
  font-size: 14px;
  font-weight: normal;
  color: #999;

}


/* Fin CSS Lista Productos*/


/* Inicio CSS Sobre Nosotros*/

.titulonosotros{

    text-align: center;
    margin-top: 2em;
    font-family: 'Cormorant', serif;
    font-size: 36px;

}

.nosotros_contenedor{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8em 5em 8em;
   
}
.textonosotros{

    font-family: 'Karla', sans-serif;

}
.img_nosotros img{

    width: 650px;
    height: 450px;
    border-radius: 2em;
    margin-right: 2em;
}

.texto_nosotros{
    margin-left: 2em;
}


/*Fin CSS Sobre Nosotros*/

/* Inicio CSS Contacto */

.titulocontacto{

    text-align: center;
    margin-top: 2em;
    font-family: 'Cormorant', serif;
    font-size: 36px;

}

.contactanos_contenedor{

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.ubicacion_map{
    margin: 0 2em 3em 8em;
}

.texto_contacto{
    text-align: center;
    margin: 0 2em 3em 8em;

    border-radius: 3em;
    height: 20em;
    width: 20em;

    background-color: #fff6eb;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    color: #491E21;
    box-shadow: 0 0.4rem #585858;
    cursor: pointer;
}


/* Fin CSS Contacto */

/*WhatsApp*/

.whatsapp {
    position: fixed;
    bottom: 5em;
    right: 20px;
  
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    margin-right: 1.5em;

  }
  .whatsapp img{
    width: 120px;
    height: 95px;
  }
  .whatsapp:hover {
    transform: scale(1.1);
  }
  
  .whatsapp i {
    vertical-align: middle;
  }
  



footer{
    display: flex;
    
   justify-content: center;
    background-color: #c798e6;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}


.footer-right{
    width: 50%;
    text-align: right;
    margin-right: 11em;
    padding: 0.5em;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    color: white;
}

.footer-left{
    margin-top: 0.5em;

    margin-left: 11em;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
   
}

.footer-left img{
    width: 45px;
    padding: 0.5em;
}