
html, body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background:#F5CAC3;
    /*background: linear-gradient(175deg, rgba(255,246,235,1) 35%, #fcc1a3 100%);*/
    min-height: 100vh;
   
}

.encabezado {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    align-items: center;
    justify-content: center;

}
.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.titulo{
  
    font-style: italic;
    color: #491E21;
    text-align: center;

}
.titulo h1{
  
    font-size: 6em;
}

.titulo h2{
    font-size: 3em;
}

.menu a{
    margin: 0em 2em 0 2em;
    padding: 1em;

    text-decoration: none;

    background-color: #fff6eb;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: #491E21;
    box-shadow: 0 0.4rem #585858;
    cursor: pointer;
}
.menu a:active{
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}
.menu a:hover:not(:disabled) {
    background: #fcc1a3;
    color: #491E21;
    text-shadow: 0 0.1rem #bcb4b4;
}
.menu a:disabled {
    cursor: auto;
    color: grey;
}
.presentacion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.presentacion img{
    width: 420px;
    padding-bottom: 2em;
}

.contenedor {

    margin: 0 1em 0em 1em;

}

/* Fin CSS INDEx */


/* Comienzo CSS Lista Productos */


/* Estilo para el título de la lista de productos */
.TituloProductos {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.TituloProductos h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

/* Estilo para la sección de la lista de productos */
.lista-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo para cada carta de producto */
.carta {

    width: 180px;
    height: 200px;
    margin: 20px;

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
    text-align: center;

}

.carta:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Estilo para la imagen de cada producto */
.carta img {

    max-width: 100%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 20px;

}

/* Estilo para el nombre y precio de cada producto */
.carta h3 {

    font-size: 18px;
    font-weight: bold;
    color: #333;

}

.carta h3 span {
  font-size: 14px;
  font-weight: normal;
  color: #999;

}


/* Fin CSS Lista Productos*/

/* Inicio CSS Sobre Nosotros*/

.titulo_nosotros{
    margin-top: 3em;
}
.nosotros_contenedor{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
   
    
}
.img_nosotros img{
    width: 650px;
    height: 450px;
    margin: 0 2em 0 8em;
}

.texto_nosotros{
    margin: 0 2em 0 8em;
}


/*Fin CSS Sobre Nosotros*/

/* Inicio CSS Contacto */

.titulo_contacto{
    margin: 3em 0 2em 0;

}

.contactanos_contenedor{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.ubicacion_map{
    margin: 0 2em 3em 8em;
}

.texto_contacto{
    text-align: center;
    margin: 0 2em 3em 8em;

    border-radius: 3em;
    height: 20em;
    width: 20em;

    background-color: #fff6eb;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    color: #491E21;
    box-shadow: 0 0.4rem #585858;
    cursor: pointer;
}




/* Fin CSS Contacto */
/*WhatsApp*/
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
  
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
  }
  .whatsapp img{
    width: 60px;
    height: 60px;
  }
  .whatsapp:hover {
    transform: scale(1.1);
  }
  
  .whatsapp i {
    vertical-align: middle;
  }
  



footer{
    text-align: center;
 
    color: #491E21;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0px;
}

h3{
    font-size: 1em;
}
