
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');/*Fuente Cursiva*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap'); /*Fuente Titulos*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');/*Fuente Textos*/
/*EDE4E0*/
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: white;
    min-height: 100vh;
}

/* Comienzo CSS INDEX */
.flex-container-encabezado {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    align-items: center;
}

.navegacion {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    text-align: center;
}

.menu a {
    font-family: 'Cormorant', serif;
    margin: 0 2em;
    padding: 1.2em;
    color: #000000;
    text-decoration: none;
    background-color: white;
    border: none;
    font-size: 1.2rem;
    width: 12em;
    box-shadow: 0 0.05rem #000000;
    cursor: pointer;
}

.menu a:hover:not(:disabled) {
    background: #b4b4b4;
    color: #000000;
    text-shadow: 0 0.1rem #bcb4b4;
}

.titulo {
    margin-left: 4em;
    color: #000000;
    text-align: center;
}

.titulo h1 {
    margin: 0;
    font-family: 'Cormorant', serif;
    font-size: 7em;
}

.titulo h2 {
    color: #c798e6;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 4.5em;
}

.Logo {
    width: 4em;
}

.flex-container-home {
    margin: 10em 12em 6em 12em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.presentacion {
    margin-right: 5em;
    margin-left: 1.5em;
}

.titulo-home {
    margin-right: 1.5em;
}

.presentacion img {
    width: 35em;
    border-radius: 2em;
}

p {
    font-size: 1.3em;
    font-family: 'Karla', sans-serif;
}

/* Fin CSS INDEX */


/*======================================================================================*/


/* Comienzo CSS Lista Productos */

    /* Estilo para el título de la lista de productos */
.tituloproducto {
    text-align: center;
    margin-top: 2em;
    font-family: 'Cormorant', serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

    /* Estilo para la sección de la lista de productos */
.flex-container-lista-productos {
    margin: 1em 12em 6em 12em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
}

    /* Estilo para cada carta de producto */
.carta {
    width: 190px;
    height: 250px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    text-align: center;
    border-radius: 1em;
}

    /* Estilo para la imagen de cada producto */
.carta img {
    width: 80%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 10px;
}

    /* Estilo para el nombre y precio de cada producto */
.carta h3 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    color: #333;
}

.carta h3 span {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Karla', sans-serif;
    color: #999;
}

/* Fin CSS Lista Productos */



/*======================================================================================*/



/* Inicio CSS Sobre Nosotros */

.titulonosotros {
    text-align: center;
    margin-top: 2em;
    font-family: 'Cormorant', serif;
    font-size: 36px;
}

.flex-container-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 16em 6em 14em;
}

.textonosotros {

    font-size: 1.3em;
    font-family: 'Karla', sans-serif;
}

.img_nosotros img {
    width: 40em;
    border-radius: 2em;
    margin-right: 2em;
}

.texto_nosotros {
    margin-left: 2em;
}

/* Fin CSS Sobre Nosotros */



/*======================================================================================*/




/* Inicio CSS Contacto */

.titulocontacto {
    text-align: center;
    margin-top: 2em;
    font-family: 'Cormorant', serif;
    font-size: 36px;
}

.flex-container-contactanos{
    margin: 1em 14em 6em 14em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.map-ubicacion{ 

    margin-right: 2em;
}
#mapa{
    height: 450px;
    width: 650px;
}   
.img-contacto img{
    margin-left: 2em;
    border-radius: 30px;
    height: 32em;
    width: 26em;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

/* Fin CSS Contacto */


/*======================================================================================*/


/* WhatsApp */
.whatsapp {
    position: fixed;
    bottom: 5em;
    right: 4em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    margin-right: 8em
}

.whatsapp img {
    width: 70px;
    height: 70px;
}

.whatsapp:hover {
    transform: scale(1.1);
}

.whatsapp i {
    vertical-align: middle;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #c798e6;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-right {
    width: 50%;
    text-align: right;
    margin-right: 14em;
    padding: 0.5em;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    color: white;
}

.footer-left {
    margin-top: 0.5em;
    margin-left: 13em;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
}

.footer-left img {
    width: 45px;
    padding: 0.5em;
}