/* Estilos generales para dispositivos móviles */
@media screen and (max-width: 767px) {
    body {
      margin: 0em;
      padding: 0;
      min-height: 100vh;
    }

    .flex-container-encabezado {
      margin: 1em 0;
    }

    .Logo{
      display: none;

    }
    .menu a {
      margin: 0 0.5em;
      font-size: 0.8rem;
      width: 6em;
    }
  
    .titulo {
      margin-left: 2em;
    }
  
    .titulo h1 {
      font-size: 5em;
    }
  
    .titulo h2 {
      font-size: 3em;
    }
  
    .flex-container-home {
      margin: 5em 2em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  
    .presentacion img {
      width: 20em;
    }
  
    p {
      font-size: 1.1em;
    }
  
    /* Estilos Lista Productos */
  
    .flex-container-lista-productos {
      margin-bottom: 1em;
    }
  
    .carta {
      width: 150px;
      height: 200px;
      margin: 10px;
    }
  
    .carta img {
      width: 70%;
      margin-bottom: 5px;
    }
  
    .carta h3 {
      font-size: 14px;
    }
  
    .carta h3 span {
      font-size: 12px;
    }
  
    /* Estilos Sobre Nosotros */
  
    .nosotros_contenedor {
      flex-direction: column;
      margin: 3%;
    }
    .nosotros_contenedor h4{
      text-align: center;
    }
  
    .img_nosotros img {
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 2em;
    }
  
    /* Estilos Contacto */
  
    .contactanos_contenedor {
      flex-direction: column;
      margin: 3em;
    }
  
    .ubicacion_map,
    .texto_contacto {
      margin: 0;
    }
  
    .texto_contacto {
      width: 15em ;
      height:auto ;
      margin: 2em 0;
    }
    .footer{
      position: relative;

    }
    .whatsapp {
      margin: 0em 1em 0em 0em;
      bottom: 1.5em;

  }
  }
  
  