
{% extends 'index.html' %}

    {%load static%}

{% block contenidoQueCambia%}

    <h1 class= 'titulocontacto'>Contactanos</h1>

    <div class="flex-container-contactanos">
        <div class="map-ubicacion">
            <iframe id='mapa' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1636.7620227031905!2d-64.49726205895145!3d-31.423458929224868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d664687d4ef07%3A0xc54f3e85b6dc02bb!2sTextil%20La%20Jardinera!5e0!3m2!1ses-419!2sar!4v1682911189368!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="img-contacto">
            <img src="{% static 'css/img/horarios.png'%}">

        </div>
    </div>
{%endblock%}
            