<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">

    <title>La Jardinera</title>
</head>
<body>
    <div class="encabezado">
        <div class="navegacion">
            <nav class="menu">
                <a href="{% url 'inicio' %}">Inicio</a>
                <a href="{% url 'lista_productos' %}" >Productos</a>
                <a href="{% url 'nosotros' %}">Sobre Nosotros</a>
                <a href="{% url 'contacto' %}">Contacto</a>
            </nav>        
        </div>

{%block contenidoQueCambia %}
        <div class="titulo">
            <img src="{% static 'css/Presentacion.png' %}">
        </div>
    </div>


    <div class="presentacion">
        <div class="contenedor">
            <div class="productos-izq">
                <h2>Nuestros Productos</h2>
            </div>
            <div class="productos-der">
                <a href="{% url 'lista_productos' %}" ><img src="{% static 'css/img-1.png'%}"></a>
            </div>
        </div>
        <div class="contenedor">
            <div class="nosotros-der">
                <h2>Sobre Nosotros</h2>
            </div>            
            <div class="nosotros-izq">
                <a href="{% url 'nosotros' %}"><img src="{% static 'css/img-1.png'%}"></a>
            </div>
        </div>
        <div class="contenedor">
            <div class="contacto-izq">
                <h2>Contactanos</h2>
            </div>
            <div class="contacto-der">
                <a href="{% url 'contacto' %}"><img src="{% static 'css/img-1.png'%}"></a>
            </div>
        </div>
    </div> 

{% endblock %}

<footer>
    <h3>Creado por Santiago Prado, Todos los derechos reservados</h3>
</footer>



</body>
</html>