<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Textil La Jardinera es una empresa dedicada a la compra y venta de materiales textiles de alta calidad. Ofrecemos una amplia variedad de telas, incluyendo algodón, seda, friselina y más, para satisfacer las necesidades de nuestros clientes. Valoramos la calidad, la honestidad y el compromiso en todas nuestras interacciones. ¡Descubre nuestras telas de excelencia en Textil La Jardinera!">
    <meta name="keywords" content="Textil La Jardinera, telas de alta calidad, compra y venta de telas, algodón, seda, friselina, materiales textiles, proveedor de telas, calidad, honestidad, compromiso, Villa Carlos Paz">

    <link rel="icon" href="{% static 'css/icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style-dispositivos-moviles.css' %}" media="(max-width: 767px)">

    <title>La Jardinera</title>
</head>
<body>
    <div class="flex-container-encabezado">
        <div class="navegacion">
            <nav class="menu">
                <img class= 'Logo' src="{% static 'css/img/logo.png' %}">
                <a href="{% url 'inicio' %}">Inicio</a>
                <a href="{% url 'lista_productos' %}" >Productos</a>
                <a href="{% url 'nosotros' %}">Sobre Nosotros</a>
                <a href="{% url 'contacto' %}">Contacto</a>
            </nav>        
        </div>
    </div>

{%block contenidoQueCambia %}

    <div class='flex-container-home'>
        <div class="titulo">

            <h2>Textil</h2>
            <h1>La Jardinera</h1>
        
            <p>Somos una empresa familiar dedicada a la compra y venta de materiales textiles de alta calidad. Desde 2010, retomamos el legado de nuestro abuelo, quien vendia telas en nuestra ciudad con una Jardinera única. Nos enorgullece llevar su espíritu emprendedor y ofrecer una amplia gama de telas para que realices tus prendas, decores tu hogar, o mimes a tus mascotas.Te esperamos para darte la mejor atencion.</P>
        </div>
        <div class="presentacion">
            <a href="{% url 'lista_productos' %}" ><img src="{% static 'css/img/presentacion.jpg'%}"></a>
        </div>
    </div>

{% endblock %}

    <a href="https://api.whatsapp.com/send?phone=5493541290240" target="_blank" class="whatsapp"><img src="{% static 'css/img/icon-whatsapp.png' %}"></a>

    <footer>    
        <div class='footer-left'>
            <a href=''><img src="{% static 'css/icon-facebook.png'%}"></a>
            <a href='https://www.instagram.com/textillajardinera/' target="_blank"><img src="{% static 'css/img/icon-instagram.png'%}"></a>
        </div>
        <div class='footer-right'>
            <h3>Creado por <a href = "https://www.linkedin.com/in/prado-santiago-o1/" target="_blank">Santiago Prado.</a></h3>
        </div>

    </footer>

</body>
</html>