
{% extends 'index.html' %}

    {%load static%}

{% block contenidoQueCambia%}
    <h1 class='titulonosotros'>Sobre Nosotros</h1>

    <div class="nosotros_contenedor">
        <div class="img_nosotros">
            <img src="{% static  'css/img-historia.jpeg' %}">
        </div>
        <h4 class='textonosotros'>
                ¡Bienvenidos a Textil La Jardinera!<br>

                Somos una empresa dedicada a la compra y venta de materiales textiles de alta calidad. Desde nuestra fundación en 2010, nos hemos destacado en el rubro textil, ofreciendo una amplia variedad de telas para satisfacer las necesidades de nuestros clientes.<br>
                
                Nuestra historia se remonta a las raíces familiares, inspirada por el abuelo de uno de nuestros socios fundadores, quien comenzó vendiendo telas en la ciudad de Villa Carlos Paz. Hemos adoptado el nombre de Textil La Jardinera™ en honor a ese espíritu emprendedor y pionero que nos impulsa a ofrecer productos únicos y de excelencia.
                
                En Textil La Jardinera, nos enorgullece ofrecer productos textiles de alta calidad respaldados por un servicio excepcional.
                
                Nuestra empresa se compone de un equipo apasionado y dedicado que trabaja en conjunto para garantizar la satisfacción de nuestros clientes. Nos esforzamos por brindar un servicio personalizado, escuchando las necesidades individuales de cada cliente y ofreciendo soluciones adecuadas a sus requerimientos.
                
                En Textil La Jardinera™, valoramos la calidad, la honestidad y el compromiso en todas nuestras interacciones. Nos enorgullece contar con un extenso catálogo de telas, que incluye rollos de algodón, seda, friselina y muchos otros materiales, cada uno seleccionado cuidadosamente para garantizar su durabilidad y belleza.
                
                
                
                Gracias por elegir Textil La Jardinera™ como su proveedor confiable de materiales textiles. Esperamos poder servirles y ofrecerles productos de calidad durante muchos años más.<br>
                
                ¡Bienvenidos a Textil La Jardinera, su destino de confianza para todas sus necesidades textiles!
        </h4>
    </div>
{%endblock%}
