
{% extends 'index.html' %}

    {%load static%}

{% block contenidoQueCambia%}
    <h1 class='titulonosotros'>Sobre Nosotros</h1>

    <div class="nosotros_contenedor">
        <div class="img_nosotros">
            <img src="{% static  'css/img-historia.jpeg' %}">
        </div>
        <h4 class='textonosotros'>
            ¡Bienvenidos a Textil La Jardinera!<br> 
            Somos una empresa especializada en la compra y venta de materiales textiles de alta calidad. Desde nuestra fundación en 2010, nos hemos destacado en el 
            rubro textil ofreciendo una amplia variedad de telas para satisfacer las necesidades de nuestros clientes. Nuestra historia tiene raíces familiares y 
            nos inspiramos en el espíritu emprendedor de uno de nuestros socios fundadores, quien comenzó vendiendo telas en Villa Carlos Paz. 
            En Textil La Jardinera, nos enorgullece ofrecer productos textiles de alta calidad respaldados por un servicio excepcional. 
            Contamos con un equipo apasionado y dedicado que trabaja en conjunto para garantizar tu satisfacción. 
            Nos esforzamos por brindarte un servicio personalizado, escuchando tus necesidades y ofreciéndote soluciones adecuadas. 
            Valoramos la calidad, la honestidad y el compromiso en todas nuestras interacciones. En Textil La Jardinera, 
            encontrarás un extenso catálogo de telas seleccionadas cuidadosamente, que incluye rollos de algodón, seda, friselina y otros materiales duraderos 
            y hermosos. Agradecemos que nos elijas como tu proveedor confiable de materiales textiles y esperamos poder servirte y ofrecerte productos de 
            calidad durante muchos años más. ¡En Textil La Jardinera, estamos aquí para satisfacer todas tus necesidades textiles!

        </h4>
    </div>
{%endblock%}
